.navbar-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15rem;
  height: 4rem;
}
.nav-container {
  height: 100%;
}
ul {
  display: flex;
  gap: 6rem;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
}

ul li .nav-link {
  color: var(---primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  display: block;
  transition: 0.5s;
}

ul li .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  border: 1px solid rgb(153, 225, 203);
  top: 100%;
  left: 0;
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li .nav-link:hover::after {
  color: #3a3a3a;
  transform: scaleX(1);
  transform-origin: left;
}
.hamburger-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  width: 4rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.2rem;
}
.bar {
  height: 0.5rem;
  width: 100%;
  background-color: rgba(20, 20, 19, 0.638);
  border-radius: 10px;
}
img {
  width: 50%;
}

/* HERO CONTENT MAIN */
.heading-hero {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  position: relative;
}
.heading-hero::before {
  content: "<h1>";
  position: absolute;
  top: -2rem;
  left: -5rem;
  z-index: -1;
  color: #a8a7a7;
}
.heading-hero::after {
  content: "</h1>";
  position: absolute;
  left: 20rem;
  bottom: -1.5rem;
  z-index: -1;
  color: #a8a7a7;
}
.name {
  display: block;
}
.description {
  display: block;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 300;
}

.skills {
  color: var(--secondary-color);
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
}
.skill-html {
  background-color: #f75421;
}
.skill-CSS {
  background-color: #006abb;
}
.skill-javascript {
  background-color: #e6c72f;
}
.skill-bootstrap {
  background-color: #712cf9;
}
.btn-contact > i {
  color: var(--secondary-color);
  margin-left: 0.8rem;
}
.btn-contact {
  text-decoration: none;
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--secondary-color);
  transition: 0.4s ease;
}
.btn-contact:hover {
  background-color: #638c80;
}
.hero-img {
  width: 80%;
}

/* CONTACT ICONS */
.contact-link {
  content: "";
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 3.4rem;
  color: var(---primary-color);
}
.linkedin::before,
.github:before,
.email::before {
  position: absolute;
  font-size: 1.5rem;
  color: var(---primary-color);
  transition: transform 0.2s linear;
  transform: scaleX(0);
  transform-origin: right;
}
.linkedin::before {
  content: "Linkedin";
  top: 2rem;
  right: 4rem;
}
.github:before {
  content: "GitHub";
  top: 7rem;
  right: 4rem;
}
.email::before {
  content: "andriusiene.renata@gmail.com";
  top: 12rem;
  right: 4rem;
}
.linkedin:hover::before,
.github:hover::before,
.email:hover::before {
  transform: scaleX(1);
}
/* projects  */
.projects-cards {
  display: flex;
  gap: 2rem;
}
.projects-header {
  position: relative;
  padding: 6rem 0;
  background-image: url(https://images.pexels.com/photos/1834403/pexels-photo-1834403.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  width: 100%;
  margin-bottom: 9rem;
  padding-left: 10rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1rem;
  font-size: 2.5rem;
}
.projects-header::after {
  position: absolute;
  content: "PROJECTS";
  top: 4.5rem;
  left: 22rem;
  filter: blur(1.5px);
  font-size: 2.5rem;
}
.btn-live-view,
.btn-source-code {
  border: 1px solid var(--accent-color);
  padding: 0.5rem 2rem;
  font-weight: 600;
}
.btn-live-view {
  background-color: var(--accent-color);
  color: #fff;
}
.btn-live-view:hover {
  border: 1px solid var(--accent-color);
}
.btn-source-code:hover {
  background-color: #ddd;
}
.project-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.project-text {
  font-size: 1.1rem;
}

/* ABOUT PAGE */
.nav-about {
  padding-bottom: 50px;
}
.main-section {
  height: 90vh;
  width: 100%;
  background-image: url("../images/about-coding-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.about-header {
  position: relative;
  top: 3.5rem;
  right: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(---primary-color);
  text-align: right;
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  padding-right: 10rem;
}
.about-header::after {
  position: absolute;
  content: "about";
  top: -2rem;
  right: 3.5rem;
  color: var(---primary-color);
  font-weight: 700;
  line-height: 5.4rem;
  filter: blur(1.2px);
}
.name-courses {
  padding: 2rem;
}
.skills-about {
  max-width: 550px;
  background-color: rgba(125, 175, 161, 0.655);
  border-radius: 4px;
  padding: 4rem 2rem;
}
.skills-container {
  padding: 0.4rem;
}

.accordion-heading {
  color: var(---primary-color);
  font-size: 1.4rem;
  border-radius: 4px;
  text-transform: capitalize;
  border: 1px solid #fff;
  padding: 0.7rem 1rem;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.accordion-heading::after {
  content: "\003E";
  font-size: 1.5rem;
  color: var(---primary-color);
  position: absolute;
  right: 2rem;
  transition: all 0.5s;
}
.accordion-heading.active::after {
  transform: rotate(90deg);
}
.accordion-component {
  background-color: #fff;
  border-radius: 4px;
  padding: 0.6rem;
}
.accordion-component-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-content {
  text-transform: capitalize;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      transparent,
      var(--accent-color),
      transparent
    )
    1;
  font-size: 1.1rem;
}
.linkedin.about-text::before,
.github.about-text::before,
.email.about-text::before {
  color: #fff;
}
/* CONTACTS FOOTER */
.contacts-footer {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.contacts-footer > h3 {
  font-size: 2rem;
  font-weight: 700;
  opacity: 0.8;
}
.contact-name-footer {
  opacity: 0.9;
  font-size: 1.4rem;
}
.contact-link-footer {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.2rem;
}
.contact-link-footer:hover {
  text-decoration: underline;
}
.source-code {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}
