.navbar-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15rem;
  height: 4rem;
}
.nav-container {
  height: 100%;
}
ul {
  display: flex;
  gap: 6rem;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
}

ul li .nav-link {
  color: var(---primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  display: block;
  transition: 0.5s;
}

ul li .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  border: 1px solid rgb(153, 225, 203);
  top: 100%;
  left: 0;
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li .nav-link:hover::after {
  color: #3a3a3a;
  transform: scaleX(1);
  transform-origin: left;
}
.hamburger-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  width: 4rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.2rem;
}
.bar {
  height: 0.5rem;
  width: 100%;
  background-color: rgba(20, 20, 19, 0.638);
  border-radius: 10px;
}
img {
  width: 50%;
}

/* HERO CONTENT MAIN */
.heading-hero {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  position: relative;
}
.heading-hero::before {
  content: "<h1>";
  position: absolute;
  top: -2rem;
  left: -5rem;
  z-index: -1;
  color: #a8a7a7;
}
.heading-hero::after {
  content: "</h1>";
  position: absolute;
  left: 20rem;
  bottom: -1.5rem;
  z-index: -1;
  color: #a8a7a7;
}
.name {
  display: block;
}
.description {
  display: block;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 300;
}

.skills {
  color: var(--secondary-color);
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
}
.skill-html {
  background-color: #f75421;
}
.skill-CSS {
  background-color: #006abb;
}
.skill-javascript {
  background-color: #e6c72f;
}
.skill-bootstrap {
  background-color: #712cf9;
}
.btn-contact > i {
  color: var(--secondary-color);
  margin-left: 0.8rem;
}
.btn-contact {
  text-decoration: none;
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--secondary-color);
  transition: 0.4s ease;
}
.btn-contact:hover {
  background-color: #638c80;
}
.hero-img {
  width: 80%;
  /* box-shadow: 1rem 1rem 3rem -1.3rem #d5d5d5cd; */
}

/* CONTACT ICONS */
.contact-link {
  content: "";
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 3.4rem;
  color: var(---primary-color);
}
.linkedin::before,
.github:before,
.email::before {
  position: absolute;
  font-size: 1.5rem;
  color: var(---primary-color);
  transition: transform 0.2s linear;
  transform: scaleX(0);
  transform-origin: right;
}
.linkedin::before {
  content: "Linkedin";
  top: 2rem;
  right: 4rem;
}
.github:before {
  content: "GitHub";
  top: 7rem;
  right: 4rem;
}
.email::before {
  content: "andriusiene.renata@gmail.com";
  top: 12rem;
  right: 4rem;
}
.linkedin:hover::before,
.github:hover::before,
.email:hover::before {
  transform: scaleX(1);
}
