/* font-family: 'Comic Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.navbar-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10rem;
  height: 4rem;
}
.nav-container {
  height: 100%;
}
ul {
  display: flex;
  gap: 6rem;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
}

ul li .nav-link {
  color: #212020;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  display: block;
  transition: 0.5s;
}

ul li .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  border: 1px solid rgb(153, 225, 203);
  top: 100%;
  left: 0;
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li .nav-link:hover::after {
  color: #3a3a3a;
  transform: scaleX(1);
  transform-origin: left;
}
.hamburger-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  width: 4rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.2rem;
}
.bar {
  height: 0.5rem;
  width: 100%;
  background-color: rgba(20, 20, 19, 0.638);
  border-radius: 10px;
}
img {
  width: 50%;
}

@media (max-width: 600px) {
  ul li .nav-link:hover {
    color: white;
  }
  ul li .nav-link:hover::after {
    transform: scaleX(0);
  }
  .navbar-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .hamburger-menu {
    display: flex;
    z-index: 1;
  }
  .nav-container {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    position: fixed;
    background-color: #d7dcd6;
    top: 0;
    right: -100%;
    height: auto;
    transition: 0.4s ease-out;
  }
  .nav-container ul {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .nav-container ul .nav-link {
    text-align: center;
  }
  .nav-container ul .nav-link a {
    padding: 0.5rem 1rem;
  }
  .nav-container.active {
    right: 0;
  }
}
